.info-1,
.info-2,
.info-3 {
    width: 28%;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 30px;
    display: inline-block;
    border-radius: 10px;
}

.info-1 {
    background-image: url(./assets/task2-bg.jpeg);
}

.info-2 {
    background-image: url(./assets/task2-bg1.jpeg);
}

.info-3 {
    background-image: url(./assets/task2-bg2.jpg);
}

h1 {
    margin: 10px;
}