body {
    height: 100vh;
    overflow: hidden;
}

header {
    background-image: url(./assets/background.jpg);
    background-repeat: repeat;
    background-size:30%;
    height: 30%;
}

h1 {
    text-align: center;
    color: white;
    margin: 0;
}
